<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="MenuLayout/menulayout.html :: head">
</head>
<body>
<div th:replace="MenuLayout/menulayout.html :: menu"></div>
<div class="container d-flex bg-primary-subtle flex-column my-5">
    <a class="btn btn-primary justify-end w-25 my-2" th:href="@{/cliente}">Adicionar Cliente</a>
    <table class="table table-hover my-2">
        <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente : ${clientes}">
            <th scope="row" th:text="${cliente.id}"></th>
            <td th:text="${cliente.nome}"></td>
            <td th:text="${cliente.telefone}"></td>
            <td th:text="${cliente.email}"></td>
            <td class="d-flex gap-2 p-2">
                <a class="btn btn-warning" th:href="@{/cliente/{id}(id=${cliente.id})}">Editar</a>
                <a class="btn btn-danger" onclick="confirmDelete()" th:href="@{/clienteDel/{id}(id=${cliente.id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="MenuLayout/menulayout :: rodape"></div>

<script>
    function confirmDelete(event) {
        if(!confirm("Deseja realmente deletar este cliente?")) {
            event.preventDefault();
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>