<!DOCTYPE html>
<html lang="en">
<head th:replace="MenuLayout/menulayout :: head">
</head>
<body>
<nav th:replace="MenuLayout/menulayout :: menu"></nav>
<div class="container">
    <form class="my-2 p-5 bg-primary-subtle text-primary-emphasis" th:object="${tipoAcesso}" th:action="@{/tipoacesso}" method="POST">
        <div class="mb-3 row">
            <div class="col-1">
                <label for="idTipoAcesso" class="form-label">Id:</label>
                <input type="text" class="form-control" id="idTipoAcesso" th:field="*{id}" readonly>
            </div>
            <div class="col">
                <label for="nomeTipoAcesso" class="form-label">Descrição:</label>
                <input type="text" class="form-control" id="nomeTipoAcesso" th:field="*{descricao}" required>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-end gap-2">
            <a th:href="@{/usuarios}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
</div>
<footer th:replace="MenuLayout/menulayout :: rodape"></footer>
</body>
</html>